In [2]:
from collections import namedtuple
Car = namedtuple('Car' , 'color mileage automatic')
car1 = Car('red', 3812.4, True)
print(car1)
print(car1.color)
print(car1.mileage)
print(car1.automatic)

Car(color='red', mileage=3812.4, automatic=True)
red
3812.4
True

In [3]:
car2 = Car('red', 3812.4, 0)

In [4]:
from typing import NamedTuple   # python3.6

class Car(NamedTuple):
    color: str
    mileage: float
    automatic: bool

In [5]:
car1 = Car('red', 1000.01, False)

In [6]:
type(car1)

__main__.Car

In [8]:
car1.color

'red'

In [9]:
car1 = Car('red', 1000.01, 0)

In [10]:
car1 = Car(1, 1000.01, 0)

In [11]:
car1

Car(color=1, mileage=1000.01, automatic=0)

In [12]:
car1.color = 10

AttributeError: can't set attribute